@using QRMSWeb.Components.Common.Breadcrumb
@using QRMSWeb.Components.Common.SampleTable
@inject IJSRuntime _jsRuntime

<form autocomplete="off" class="search-body-form">
    <div class="row search-row-input">
        <div class="row form-group col-6">
            <label class="col-3 col-form-label">Mã kho</label>
            <div class="col-9">
                <input type="text" placeholder=""
                       autocomplete="off" disabled
                       value="@WareHouseCode"
                       class="form-control">
            </div>
        </div>
        <div class="row form-group col-6">
            <label class="col-3 col-form-label">Trạng thái</label>
            <div class="col-9">
                <input type="text" placeholder=""
                       autocomplete="off" disabled
                       value="@InputStatusName"
                       class="form-control">
            </div>
        </div>
        <div class="row form-group col-6">
            <label class="col-3 col-form-label">Đơn mua hàng</label>
            <div class="col-9">
                <input type="text" placeholder=""
                       autocomplete="off" disabled
                       value="@PurchaseOrderNo"
                       class="form-control">
            </div>
        </div>
        <div class="row form-group col-6">
            <label class="col-3 col-form-label">Ngày đơn hàng</label>
            <div class="col-9">
                <input type="text" placeholder=""
                       autocomplete="off"
                       value="@PurchaseOrderDate" disabled
                       class="form-control">
            </div>
        </div>
        <div class="row form-group col-6">
            <label class="col-3 col-form-label">Nhà cung cấp</label>
            <div class="col-9">
                <input type="text" placeholder=""
                       autocomplete="off" disabled
                       value="@SupplierName"
                       class="form-control">
            </div>
        </div>
    </div>
</form>

@code {

    [Parameter]
    public string WareHouseCode { get; set; }

    [Parameter]
    public EventCallback<string> WareHouseCodeChanged { get; set; }

    [Parameter]
    public string SupplierName { get; set; }

    [Parameter]
    public EventCallback<string> SupplierNameChanged { get; set; }

    [Parameter]
    public string PurchaseOrderNo { get; set; }

    [Parameter]
    public EventCallback<string> PurchaseOrderNoChanged { get; set; }

    [Parameter]
    public string InputStatusName { get; set; }

    [Parameter]
    public EventCallback<string> InputStatusNameChanged { get; set; }

    [Parameter]
    public string PurchaseOrderDate { get; set; }

    [Parameter]
    public EventCallback<string> PurchaseOrderDateChanged { get; set; }

    [Parameter]
    public Func<Task> OnImport { get; set; }

    [Parameter]
    public Func<Task> OnSearch { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                await _jsRuntime.InvokeVoidAsync("disableAutofill");
                //set vn date
                await _jsRuntime.InvokeVoidAsync("vnDatePicker");
                StateHasChanged();
            }
        }
        catch (Exception e)
        {
            await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "Có lỗi xảy ra", "");
        }
    }
}