@using QRMSWeb.Components.Common.Breadcrumb
@using QRMSWeb.Components.Common.SampleTable
@inject IJSRuntime _jsRuntime

<form autocomplete="off" class="search-body-form">
    <div class="row search-row-input">
        <div class="row form-group col-6">
            <label class="col-3 col-form-label">Kho đến</label>
            <div class="col-9">
                <input type="text" placeholder="" disabled
                       autocomplete="off"
                       value="@WarehouseName_From"
                       class="form-control">
            </div>
        </div>
        <div class="row form-group col-6">
            <label class="col-3 col-form-label">Kho đi</label>
            <div class="col-9">
                <input type="text" placeholder="" disabled
                       autocomplete="off"
                       value="@WarehouseName_To"
                       class="form-control">
            </div>
        </div>
        <div class="row form-group col-6">
            <label class="col-3 col-form-label">Trạng thái</label>
            <div class="col-9">
                <input type="text" placeholder=""
                       autocomplete="off" disabled
                       value="@TransferStatusName"
                       class="form-control">
            </div>
        </div>
        <div class="row form-group col-6">
            <label class="col-3 col-form-label">Số yêu cầu</label>
            <div class="col-9">
                <input type="text" placeholder=""
                       autocomplete="off" disabled
                       value="@TranferOrderNo"
                       class="form-control">
            </div>
        </div>
        <div class="row form-group col-6">
            <label class="col-3 col-form-label">Ngày yêu cầu</label>
            <div class="col-9">
                <input type="text" placeholder=""
                       autocomplete="off" disabled
                       value="@InstructionDate"
                       class="form-control">
            </div>
        </div>


    </div>
    <!--
    <div class="d-flex flex-row justify-content-end btn-row pb-0 button_search_footer1">
        <div class="button-items">
            <button type="button" class="btn btn-primary waves-effect waves-light" @onclick="@OnSearch">Tìm kiếm</button>
            <button type="button" class="btn btn-primary waves-effect mr-3" @onclick="@OnImport">Cập nhật từ AMIS</button>
        </div>
    </div>
        -->
</form>

@code {

    [Parameter]
    public string WarehouseName_From { get; set; }

    [Parameter]
    public EventCallback<string> WarehouseName_FromChanged { get; set; }

    [Parameter]
    public string WarehouseName_To { get; set; }

    [Parameter]
    public EventCallback<string> WarehouseName_ToChanged { get; set; }

    [Parameter]
    public string TransferStatusName { get; set; }

    [Parameter]
    public EventCallback<string> TransferStatusNameChanged { get; set; }

    [Parameter]
    public string TranferOrderNo { get; set; }

    [Parameter]
    public EventCallback<string> TranferOrderNoChanged { get; set; }

    [Parameter]
    public string InstructionDate { get; set; }

    [Parameter]
    public EventCallback<string> InstructionDateChanged { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                await _jsRuntime.InvokeVoidAsync("disableAutofill");
                //set vn date
                await _jsRuntime.InvokeVoidAsync("vnDatePicker");
                StateHasChanged();
            }
        }
        catch (Exception e)
        {
            await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "Có lỗi xảy ra", "");
        }
    }
}