@using QRMSWeb.Components.Common.Breadcrumb
@using QRMSWeb.Components.Common.SampleTable
@using QRMSWeb.Components.Common.TableActions
@using QRMSWeb.Services
@using QRMSWeb.Models
@using QRMSWeb.Helper
@using QRMSWeb.Utils

@using Microsoft.AspNetCore.Http.Extensions
@inject NavigationManager _navigationManager
@inject NavigationManager UriHelper
@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime
@inject Blazored.LocalStorage.ILocalStorageService _localStorageService;

<Breadcrumb Title="CHI TIẾT THỰC TẾ SCAN" levels="@Levels" />

<div class="page-content-wrapper">
    <div class="row">
        <div class="col-12 space_search_area">
            <div class="card">
                <div class="card-body contain_body">
                    <h4>Tìm kiếm</h4>
                    
                    <SaleOrderActualScanDetailSearchForm 
                                               OnExport="@OnExport"
                                               @bind-WareHouseCode="@WareHouseCode"
                                               @bind-SaleOrderNo="@SaleOrderNo"
                                               @bind-SaleOrderDate="@SaleOrderDate"
                                               @bind-ExportStatusName="@ExportStatusName" />
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body contain_body">
                    @if (loading)
                    {
                        <div class="text-center">
                            Đang tải...
                        </div>
                    }
                    else
                    {
                        <TableList data="@_saleOrderActualScans"
                                   TotalPage="@TotalPage"
                                   CurrentPage="@CurrentPage"
                                   OnClickPage="@OnClickPage"
                                   TableLabelsList="@labels"
                                   RowPerPage=@RowPerPage
                                   MinColumnActionWidth="142"
                                   IndexColSize="60">
                            <!--<AddButton>
                                <div class="d-flex flex-row justify-content-end">
                                    <button @onclick="OnClickAdd" type="button" class="btn btn-primary waves-effect waves-light">
                                        Thêm mới
                                    </button>
                                </div>
                            </AddButton>-->

                            <TableActionButton Context="item">
                                <TableCommonAction ShowActualScanDetail ="false"
                                                   ShowExportExcel="false"
                                                   ShowEdit="false"
                                                   ShowDelete="false" />
                            </TableActionButton>
                        </TableList>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public object ID { get; set; }

    [Parameter]
    public string SaleOrderNo { get; set; }
    [Parameter]
    public string WareHouseCode { get; set; }
    [Parameter]
    public string SaleOrderDate { get; set; }
    [Parameter]
    public string ExportStatusName { get; set; }
    
    private int TotalPage = 0;
    private int CurrentPage = 1;
    private const int RowPerPage = 10;

    private List<BreadcrumbLevel> Levels = new List<BreadcrumbLevel>()
{
        new BreadcrumbLevel() {name = "Chi tiết thực tế scan", path = "/SaleOrder/ActualScanDetail"}
    };

    private List<TableLabels> labels = new List<TableLabels>()
{
        new TableLabels {label = "Số đơn hàng", dataIndex = "SaleOrderNo",columnWidth=150},
        new TableLabels {label = "Ngày đặt", dataIndex = "SaleOrderDate", dataType="date", columnWidth=110},
        new TableLabels {label = "Tên linh kiện", dataIndex = "ItemName",columnWidth=250},
        new TableLabels {label = "Mã linh kiện", dataIndex = "ItemCode",columnWidth=150 },
        new TableLabels {label = "Khách hàng", dataIndex = "CustomerName",columnWidth=250},
        new TableLabels {label = "Số lượng", dataIndex = "Quantity", dataType="number", columnWidth=120},
        new TableLabels {label = "Đơn vị", dataIndex = "Unit",columnWidth=80},
    };

    private bool loading = true;
    private List<TransactionHistoryModel> _saleOrderActualScans = new List<TransactionHistoryModel>();
    private SaleOrderService _SaleOrderItemService;

    private async Task OnSearch()
    {
        loading = true;
        CurrentPage = 1;
        await OnInitData();
    }

    protected override void OnInitialized()
    {
        try
        {
            _SaleOrderItemService = new SaleOrderService(_httpClient);
        }
        catch (Exception e)
        {
            _jsRuntime.InvokeVoidAsync("handleException", e.Message, "", "/SaleOrder/ActualScanDetail");
        }
    }


    private async Task OnInitData()
    {
        try
        {
            var response = await _SaleOrderItemService.SaleOrderActualScanDetail(CurrentPage, RowPerPage,
                SaleOrderNo);
            _saleOrderActualScans = response.rows ?? new List<TransactionHistoryModel>();
            TotalPage = response.pages;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            //await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "", "");
            _saleOrderActualScans = new List<TransactionHistoryModel>();
            TotalPage = 0;
        }
        loading = false;
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                await _jsRuntime.InvokeVoidAsync("disableAutofill");
                await OnInitData();
            }
        }
        catch (Exception e)
        {
            await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "", "/SaleOrder/ActualScanDetail");
        }
    }

    private async Task OnClickPage(int page)
    {
        try
        {
            loading = true;
            CurrentPage = page;
            await InvokeAsync(StateHasChanged);
            await OnInitData();
        }
        catch (Exception e)
        {
            await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "Có lỗi xảy ra.", "");
        }
    }
    
    private async Task OnExport()
    {
        string query = $"saleOrderNo={SaleOrderNo}";
        UriHelper.NavigateTo($"/SaleOrder/ViewExcelReport?{query}", true);
    }
}