@using QRMSWeb.Components.Common.Breadcrumb
@using QRMSWeb.Components.Common.SampleTable
@using QRMSWeb.Components.Common.TableActions
@using QRMSWeb.Services
@using QRMSWeb.Models
@using QRMSWeb.Helper
@using QRMSWeb.Utils

@using Microsoft.AspNetCore.Http.Extensions
@inject NavigationManager _navigationManager
@inject NavigationManager UriHelper
@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime
@inject Blazored.LocalStorage.ILocalStorageService _localStorageService;

<Breadcrumb Title="CHI TIẾT ĐƠN ĐẶT HÀNG" levels="@Levels" />

<div class="page-content-wrapper">
    <div class="row">
        <div class="col-12 space_search_area">
            <div class="card">
                <div class="card-body contain_body">
                    <h4>Tìm kiếm</h4>
                    <SaleOrderDetailSearchForm
                                         @bind-CustomerName="@customerName"
                                         @bind-ExportStatusName="@exportStatusName"
                                         @bind-SaleOrderNo="@saleOrderNo"
                                         @bind-SaleOrderDate="@saleOrderDate"/>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body contain_body">
                    @if (loading)
                    {
                        <div class="text-center">
                            Đang tải...
                        </div>
                    }
                    else
                    {
                        <TableList data="@_saleOrderItemModels"
                                   TotalPage="@TotalPage"
                                   CurrentPage="@CurrentPage"
                                   OnClickPage="@OnClickPage"
                                   TableLabelsList="@labels"
                                   RowPerPage=@RowPerPage
                                   MinColumnActionWidth="142"
                                   IndexColSize="60">
                            <!--<AddButton>
                                <div class="d-flex flex-row justify-content-end">
                                    <button @onclick="OnClickAdd" type="button" class="btn btn-primary waves-effect waves-light">
                                        Thêm mới
                                    </button>
                                </div>
                            </AddButton>-->
                        </TableList>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public object SaleOrderNo { get; set; }
    [Parameter]
    public bool IsDetail { get; set; } = false;

    [Parameter]
    public bool IsUpdate { get; set; } = false;

    private string itemCode = "";
    private string customerName = "";
    private string saleOrderNo = "";
    private string exportStatusName = "";
    private string saleOrderDate = "";
    private int TotalPage = 0;
    private int CurrentPage = 1;
    private const int RowPerPage = 10;

    private List<BreadcrumbLevel> Levels = new List<BreadcrumbLevel>()
{
        new BreadcrumbLevel() {name = "Danh mục đơn đặt hàng", path = "/SaleOrder"}
    };

    private List<TableLabels> labels = new List<TableLabels>()
{
        new TableLabels {label = "Ngày đơn hàng", dataIndex = "SaleOrderDate", dataType="date", columnWidth=110},
        new TableLabels {label = "Mã kho", dataIndex = "SaleOrderNo", columnWidth=110},
        new TableLabels {label = "Tên kho", dataIndex = "SaleOrderNo", columnWidth=110},
        new TableLabels {label = "Mã hàng", dataIndex = "ItemCode",columnWidth=250},
        new TableLabels {label = "Tên hàng", dataIndex = "ItemName",columnWidth=150 },
        new TableLabels {label = "Số lượng", dataIndex = "Quantity", dataType="number", columnWidth=120},
        new TableLabels {label = "Đơn vị", dataIndex = "Unit",columnWidth=80},
    };

    private bool loading = true;
    private SaleOrderModel _saleOrderModel;

    private List<SaleOrderItemModel> _saleOrderItemModels = new List<SaleOrderItemModel>();
    private SaleOrderService _SaleOrderItemService;

    private async Task OnSearch()
    {
        loading = true;
        CurrentPage = 1;
        await OnInitData();
    }
    protected override void OnInitialized()
    {
        try
        {
            Levels.Add(new BreadcrumbLevel() { name = "Chi tiết đơn đặt hàng", path = $"/SaleOrder/detail/{SaleOrderNo}" });
            _SaleOrderItemService = new SaleOrderService(_httpClient);
        }
        catch (Exception e)
        {
            _jsRuntime.InvokeVoidAsync("handleException", e.Message, "", "/SaleOrder");
        }
    }


    private async Task OnInitData()
    {
        try
        {
            var glStartDate = CommonUtils.ConvertDateVNFormatedToDate(saleOrderDate);
            var glStrStartDate = glStartDate != null ? glStartDate.ToString() : "";

            var response = await _SaleOrderItemService.SearchSaleOrderItem(CurrentPage, RowPerPage,
                saleOrderNo);
            _saleOrderItemModels = response.rows ?? new List<SaleOrderItemModel>();
            TotalPage = response.pages;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            //await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "", "");
            _saleOrderItemModels = new List<SaleOrderItemModel>();
            TotalPage = 0;
        }
        loading = false;
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                _saleOrderModel = await _SaleOrderItemService.GetSaleOrderByPurchaseOrderNo(SaleOrderNo.ToString());
                if (_saleOrderModel != null)
                {
                    customerName = _saleOrderModel.CustomerName;
                    saleOrderNo = _saleOrderModel.SaleOrderNo;
                    exportStatusName = _saleOrderModel.ExportStatusName;
                    saleOrderDate = _saleOrderModel.SaleOrderDate.ToString();
                }
                await _jsRuntime.InvokeVoidAsync("disableAutofill");
                await SystemHelper.clearSearchParameter(_navigationManager, _localStorageService);
                saleOrderDate = await _localStorageService.GetItemAsStringAsync("search_saleOrder_saleOrderDate") ?? "";
                if (string.IsNullOrEmpty(saleOrderDate?.Trim()))
                {
                    saleOrderDate = CommonUtils.GetFirstDayOfThisMonth();
                    await _localStorageService.SetItemAsStringAsync("search_saleOrder_saleOrderDate", !String.IsNullOrWhiteSpace(saleOrderDate) ? saleOrderDate : "");
                    await _jsRuntime.InvokeAsync<string>("clearDateTimePickerByElId", "searchEndDate1");
                }
                await OnInitData();
            }
        }
        catch (Exception e)
        {
            await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "", "/SaleOrder");
        }
    }

    private async Task OnClickPage(int page)
    {
        try
        {
            loading = true;
            CurrentPage = page;
            await InvokeAsync(StateHasChanged);
            await OnInitData();
        }
        catch (Exception e)
        {
            await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "Có lỗi xảy ra.", "");
        }
    }
}