@using QRMSWeb.Components.Common.Breadcrumb
@using QRMSWeb.Components.Common.SampleTable
@using QRMSWeb.Components.Common.TableActions
@using QRMSWeb.Services
@using QRMSWeb.Models
@using QRMSWeb.Helper
@using QRMSWeb.Utils

@using Microsoft.AspNetCore.Http.Extensions
@inject NavigationManager _navigationManager
@inject NavigationManager UriHelper
@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime
@inject Blazored.LocalStorage.ILocalStorageService _localStorageService;

<Breadcrumb Title="DANH MỤC ĐƠN ĐẶT HÀNG" levels="@Levels" />

<div class="page-content-wrapper">
    <div class="row">
        <div class="col-12 space_search_area">
            <div class="card">
                <div class="card-body contain_body">
                    <h4>Tìm kiếm</h4>
                    <SaleOrderSearchForm OnImport="@OnImport"
                                         OnSearch="@OnSearch"
                                         @bind-ExportStatus="@exportStatus"
                                         @bind-WareHouseCode="@wareHouseCode"
                                         @bind-SaleOrderNo="@saleOrderNo"
                                         @bind-DateFrom="@dateFrom"
                                         @bind-DateTo="@dateTo"/>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-body contain_body">
                    @if (loading)
                    {
                        <div class="text-center">
                            Đang tải...
                        </div>
                    }
                    else
                    {
                        <TableList data="@saleOrderModels"
                                   TotalPage="@TotalPage"
                                   CurrentPage="@CurrentPage"
                                   OnClickPage="@OnClickPage"
                                   TableLabelsList="@labels"
                                   RowPerPage=@RowPerPage
                                   MinColumnActionWidth="142"
                                   IndexColSize="60">
                            
                            <TableActionButton Context="item">
                                <TableCommonAction OnClickDetail="() => OnClickDetail(item)"
                                                   OnClickActualScanDetail="() => OnClickActualScanDetail(item)"
                                                   OnClickExportExcel="() => OnClickExportExcel(item)"
                                                   ShowActualScanDetail ="true"
                                                   ShowExportExcel="true"
                                                   ShowEdit="false"
                                                   ShowDelete="false" />
                            </TableActionButton>
                        </TableList>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    private string itemCode = "";
    private string exportStatus = "";
    private string saleOrderNo = "";
    private string wareHouseCode = "";
    private string dateFrom = "";
    private string dateTo = "";
    private int TotalPage = 0;
    private int CurrentPage = 1;
    private const int RowPerPage = 10;

    private List<BreadcrumbLevel> Levels = new List<BreadcrumbLevel>()
{
        new BreadcrumbLevel() {name = "Danh mục đơn đặt hàng", path = "/SaleOrder"}
    };

    private List<TableLabels> labels = new List<TableLabels>()
{
        new TableLabels {label = "Số đơn đặt hàng", dataIndex = "SaleOrderNo",columnWidth=150},
        new TableLabels {label = "Ngày đặt", dataIndex = "SaleOrderDate", dataType="date", columnWidth=110},
        new TableLabels {label = "Mã khách hàng", dataIndex = "CustomerCode",columnWidth=150 },
        new TableLabels {label = "Tên khách hàng", dataIndex = "wareHouseCode",columnWidth=250},
        new TableLabels {label = "Trạng thái",dataType="status", dataIndex = "ExportStatusName", color="blue", columnWidth=120},
    };

    private bool loading = true;
    private List<SaleOrderModel> saleOrderModels = new List<SaleOrderModel>();
    private SaleOrderService _SaleOrderService;

    private async Task OnSearch()
    {
        loading = true;
        CurrentPage = 1;
        await storeParamSearch();
        await OnInitData();
    }

    private async Task OnImport()
    {
        try
        {
            loading = true;
            CurrentPage = 1;
            var responseData = await _SaleOrderService.ImportSaleOrderItem();
            string errCode = String.IsNullOrEmpty(responseData.ErrorCode?.Trim()) ? "0" : responseData.ErrorCode?.Trim();
            if ("0".Equals(errCode))
            {
                await _jsRuntime.InvokeVoidAsync("showMessage", "Thông báo", "Đã lấy thông tin từ hệ thống AMIS thành công", "success");
                await OnInitData();
            }
            else
            {
                await _jsRuntime.InvokeVoidAsync("showMessage", "Thông báo", "Lấy thông tin từ hệ thống AMIS thất bại", "error");

            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "", "");
            saleOrderModels = new List<SaleOrderModel>();
            TotalPage = 0;
        }
        loading = false;
        await InvokeAsync(StateHasChanged);

    }
    private async Task storeParamSearch()
    {
        dateFrom = await _jsRuntime.InvokeAsync<string>("getValByElId", "searchStartDate");
        dateTo = await _jsRuntime.InvokeAsync<string>("getValByElId", "searchEndDate");

        await _localStorageService.SetItemAsStringAsync("search_saleOrder_wareHouseCode", !String.IsNullOrWhiteSpace(wareHouseCode) ? wareHouseCode : "");
        await _localStorageService.SetItemAsStringAsync("search_saleOrder_saleOrderNo", !String.IsNullOrWhiteSpace(saleOrderNo) ? saleOrderNo : "");
        await _localStorageService.SetItemAsStringAsync("search_saleOrder_itemCode", !String.IsNullOrWhiteSpace(itemCode) ? itemCode : "");
        await _localStorageService.SetItemAsStringAsync("search_saleOrder_exportStatus", !String.IsNullOrWhiteSpace(exportStatus) ? exportStatus : "");

        await _localStorageService.SetItemAsStringAsync("search_saleOrder_dateFrom", !String.IsNullOrWhiteSpace(dateFrom) ? dateFrom : "");
        await _localStorageService.SetItemAsStringAsync("search_saleOrder_dateTo", !String.IsNullOrWhiteSpace(dateTo) ? dateTo : "");

        await _localStorageService.SetItemAsStringAsync("search_saleOrder_currnetPage", CurrentPage.ToString());
    }
    private async Task retryParamSearch()
    {
        wareHouseCode = await _localStorageService.GetItemAsStringAsync("search_saleOrder_wareHouseCode") ?? "";
        saleOrderNo = await _localStorageService.GetItemAsStringAsync("search_saleOrder_saleOrderNo") ?? "";
        itemCode = await _localStorageService.GetItemAsStringAsync("search_saleOrder_itemCode") ?? "";
        exportStatus = await _localStorageService.GetItemAsStringAsync("search_saleOrder_exportStatus") ?? "";
        dateFrom = await _localStorageService.GetItemAsStringAsync("search_saleOrder_dateFrom") ?? "";
        dateTo = await _localStorageService.GetItemAsStringAsync("search_saleOrder_dateTo") ?? "";

        var curPage = await _localStorageService.GetItemAsStringAsync("search_saleOrder_currnetPage") ?? "";
        CurrentPage = CommonUtils.ConvertStringNumberVNToInt(curPage)??1;
        if (CurrentPage <= 0) CurrentPage = 1;
    }
    protected override void OnInitialized()
    {
        try
        {
            _SaleOrderService = new SaleOrderService(_httpClient);
        }
        catch (Exception e)
        {
            _jsRuntime.InvokeVoidAsync("handleException", e.Message, "", "/SaleOrder");
        }
    }


    private async Task OnInitData()
    {
        try
        {
            await retryParamSearch();

            var glStartDate = CommonUtils.ConvertDateVNFormatedToDate(dateFrom);
            var glStrStartDate = glStartDate != null ? glStartDate.ToString() : "";
            var glEndDate = CommonUtils.ConvertDateVNFormatedToDate(dateTo);
            var glStrEndDate = glEndDate != null ? glEndDate.ToString() : "";

            var response = await _SaleOrderService.SearchSaleOrder(CurrentPage, RowPerPage, exportStatus, saleOrderNo, wareHouseCode, glStrStartDate, glStrEndDate);
            saleOrderModels = response.rows ?? new List<SaleOrderModel>();
            TotalPage = response.pages;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            //await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "", "");
            saleOrderModels = new List<SaleOrderModel>();
            TotalPage = 0;
        }
        loading = false;
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                await _jsRuntime.InvokeVoidAsync("disableAutofill");
                await SystemHelper.clearSearchParameter(_navigationManager, _localStorageService);
                dateFrom = await _localStorageService.GetItemAsStringAsync("search_saleOrder_dateFrom") ?? "";
                if (string.IsNullOrEmpty(dateFrom?.Trim()))
                {
                    dateFrom = CommonUtils.GetFirstDayOfThisMonth();
                    await _localStorageService.SetItemAsStringAsync("search_saleOrder_dateFrom", !String.IsNullOrWhiteSpace(dateFrom) ? dateFrom : "");
                    await _jsRuntime.InvokeAsync<string>("clearDateTimePickerByElId", "searchEndDate1");
                }
                await OnInitData();
            }
        }
        catch (Exception e)
        {
            await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "", "/SaleOrder");
        }
    }

    private async Task OnClickPage(int page)
    {
        try
        {
            loading = true;
            CurrentPage = page;
            await InvokeAsync(StateHasChanged);
            await OnInitData();
        }
        catch (Exception e)
        {
            await _jsRuntime.InvokeVoidAsync("handleException", e.Message, "Có lỗi xảy ra.", "");
        }
    }

    private void OnClickDetail(SaleOrderModel saleOrderItem)
    {
        UriHelper.NavigateTo($"/SaleOrder/detail/{saleOrderItem.SaleOrderNo}", true);
    }

    private void OnClickActualScanDetail(SaleOrderModel saleOrderItem)
    {
        UriHelper.NavigateTo($"/SaleOrder/ActualScanDetail/{saleOrderItem.SaleOrderNo}", true);
    }

    private async void OnClickExportExcel(SaleOrderModel saleOrder)
    {
        string query = $"saleOrderNo={saleOrder.SaleOrderNo}";
        UriHelper.NavigateTo($"/SaleOrder/ViewExcelReport?{query}", true);
    }
}