@using QRMSWeb.Components.Features.TransferDirective
@{
    ViewData["Title"] = "Chi tiết thực tế scan";
}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(TransferDirectiveActualScanDetailWrapper)"
                   param-ID="@(ViewBag.ID)"
                   param-PurchaseOrderNo="@(ViewBag.PurchaseOrderNo)"
                   param-LocationCode="@(ViewBag.LocationCode)"
                   param-DateFrom="@(ViewBag.DateFrom)"
                   param-DateTo="@(ViewBag.DateTo)"
                   param-IsDetail="@(true)"
                   render-mode="ServerPrerendered"/>
    </div>
</div>