@using QRMSWeb.Components.Features.PurchaseOrder
@{
    ViewData["Title"] = "Chi tiết thực tế scan";
}

<div class="content">
    <div class="container-fluid">
        <component type="typeof(PurchaseOrderActualScanDetailWrapper)"
                   param-ID="@(ViewBag.ID)"
                   param-PurchaseOrderNo="@(ViewBag.PurchaseOrderNo)"
                   param-WareHouseName="@(ViewBag.WareHouseName)"
                   param-PurchaseOrderDate="@(ViewBag.PurchaseOrderDate)"
                   param-IsDetail="@(true)"
                   render-mode="ServerPrerendered"/>
    </div>
</div>